*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     overflow: hidden;
    
}
    #container {
      background-image: url("/pic/background.gif"); /* apni image ka path yahan likho */
      background-size: cover;      /* poori screen cover karega */
      background-repeat: no-repeat;
        height: 100vh;
    width: 100%;
    background-position: center;
    }
    .char{
    position:absolute;
    bottom: 0px;
    height: 150px;
    object-fit: contain;
}
   #character{
    
   left: 40px
   
}
#character2{
    right:10px;
    height: 150px;
}
