@font-face {
    font-family: lobster;
    src: url(./font/LobsterTwo-Regular.ttf);
}
@font-face {
  font-family: dancing;
  src: url(./font/DancingScript-SemiBold.ttf);
}
@font-face {
  font-family: roboto;
  src: url(./font/Roboto_Condensed-SemiBoldItalic.ttf);
}

  .formdiv{
    display: flex; 
    width: fit-content;
    justify-content: center ;
    align-items: center;
     /* width: 2000px; */
     margin: 0 auto;
  }

  form {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    width: 600px;
    margin-top: 130px;

  }

  .form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }

  .form-header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
  }

  h1 {
    font-size: 30px;
    color: #111;
    text-align: center;
    margin: 0;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 15px;
  }

  .form-row div {
    flex: 1;
  }

  label {
    font-family: lobster;
    display: block;
    font-weight: 500;
    color: #222;
    margin-bottom: 5px;
    text-align: left;
  }

  input {
    width: 240px;
    height: 30px;
    padding: 10px;
    border: 1px solid hsl(0, 5%, 84%);
    border-radius: 5px;
    outline: none;
     font-family:roboto;
      font-size: 20px;
color: #723535;

  }
  input:hover{
    background-color: #eff1db;
  }

  input:focus {
    border-color: #b7b0b0;
    box-shadow: 0 0 3px #000 ;
     font-family:roboto;
 color: #723535;
 font-size: 20px;

  }

  #signup {
    background: #000;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 7px;
    cursor: pointer;
    width: 200px;
    font-size: 20px;
    margin-top: 10px;
    height: 60px;
  }

  #signup:hover {
    transform: scale(1.1);
    transition: 1.5s;
  }
.but{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.mynav{
  padding: 40px;
  background-color:#868383;
}
.post{
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  font-family: dancing;

}
.maincontent{
  padding-left: 100px;
  padding-top: 90px;
}
#postinput{
  width: 150px;
  height: 32px;
  margin-top: 10px;
}
#about{
    margin-top: 10px;
width: 300px;
height: 130px;
border-radius: 5px;
    border: 1px solid hsl(0, 5%, 84%);
     font-family:roboto;
      font-size: 20px;
color: #723535;

}
#about:focus{
      border-color: #b7b0b0;
    box-shadow: 0 0 3px #cac3c3 ;
        background-color: #eff1db;
outline: none;
 font-family:roboto;
 color: #723535;
 font-size: 20px;
}
.text{
  padding: 20px;
  width: 150px;

}
.descrip{
  padding: 20px;
  width: 350px;
}
.but1{
  padding: 20px;
  width: 150px;
}
.but11{
  background: #b4b4e9;
    color: #000;
    border: none;
    padding: 14px;
    border-radius: 7px;
    cursor: pointer;
    width: 100px;
    font-size: 20px;
    margin-top: 10px;
    height: 60px;
}
.but11:hover{
   transform: scale(1.1);
    transition: 1.5s;
}
.maincontent{
  /* width: 500px; */
  border: 1px solid rgb(231, 217, 217);
  /* margin-left: 70px;
  margin-top: 70px; */
 box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  background-color: white;}
.row{
  width: 900px;
}
.postapp{
  background-color: white;
}